body{
    background-color: #EFECCA;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:#C03000;   
}

h2{
    color:#4BB5C1; 
}

nav ul li{
    list-style-type:none;
    display:inline;
}

nav ul li a {
    background-color:#C03000;
    color:#FFFFFF;
    text-decoration:none;
    text-align:center;
    padding: 5px 10px 5px 10px;
    border:1px solid #660000;
}

nav ul li a:hover, a:focus {
    background-color:#009900;
} 

footer a:link{
    color: #0000FF;
    text-decoration:none;
}